@{
    ViewBag.Title = "Use Cost Analysis to help you optimise your pricing strategy - Buildmate";
    ViewBag.Description = "Keep track of your project succcess and failures using our online estimating software. Sign up for a FREE trial!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="intro">
    <div class="container">
        <h1>Cost Analysis</h1>

        <p>Optimise your pricing strategy</p>
    </div>
</div>

<div class="content">
    <div class="container">
        <!-- cost analysis -->
        <div class="feature">
            <div class="feature-content">
                <h2 class="feature-content-title">Keep track of your Successes. And your Failures.</h2>

                <div class="feature-description">
                    <p>
                        Access monthly and weekly statistics for your Projects whether they were won or lost.
                        With upto the minute statistical information you'll have everything you need to keep your pricing competitive.
                    </p>

                    <p class="feature-signup">
                        <a href="https://buildmateapp.com/register/" class="btn btn-large primary">Try it FREE</a>
                    </p>
                </div>
            </div>

            <div class="feature-image">
                <img src="/Content/images/screenshots/analysis.jpg" alt="Keep track of the success rate of your projects with monthly and weekly statistics." />
            </div>
        </div>
    </div>
</div>
