@{
    ViewBag.Title = "Customer Management - Track your customers and their projects - Buildmate";
    ViewBag.Description = "Keep your customer information upto date and accessible using our online estimating software. Sign up for a FREE trial!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="intro">
    <div class="container">
        <h1>Customer Management</h1>

        <p>Track your customers and their projects</p>
    </div>
</div>

<div class="content">
    <div class="container">
        <!-- customer management -->
        <div class="feature">
            <div class="feature-content">
                <h2 class="feature-content-title">Keep your Customer information at hand.</h2>

                <div class="feature-description">
                    <p>
                        Using Buildmate's customer management system, you can easily keep upto date information and manage
                        payment terms for all of your Customers. You'll also be able to conveniently review your Customers project history.
                    </p>

                    <p class="feature-signup">
                        <a href="https://buildmateapp.com/register/" class="btn btn-large primary">Try it FREE</a>
                    </p>
                </div>
            </div>

            <div class="feature-image">
                <img src="/Content/images/screenshots/customers.jpg" alt="Track your customers and their projects with construction estimating software" />
            </div>
        </div>
    </div>
</div>