@{
    ViewBag.Title = "Task Management - Customise your projects using an extensive list of tasks - Buildmate";
    ViewBag.Description = "Choose from thousands of Tasks to quickly customise Projects to your customers exact requirements. Sign up for a FREE trial!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="intro">
    <div class="container">
        <h1>Task management</h1>

        <p>Customise your projects using an extensive list of tasks</p>
    </div>
</div>

<div class="content">
    <div class="container">
        <div class="feature">
            <div class="feature-content">
                <h2 class="feature-content-title">Choose from thousands of Tasks using the built-in Task management system.</h2>

                <div class="feature-description">
                    <p>
                        With over 200,000 job tasks already built into Buildmate you rest assured you'll have everything you need to customise each Project to your customers exact requirements.
                        Using such a quick and easy process, you'll be creating your own tenders and sending out quotations in no time!
                    </p>

                    <p class="feature-signup">
                        <a href="https://buildmateapp.com/register/" class="btn btn-large primary">Try it FREE</a>
                    </p>
                </div>

            </div>

            <div class="feature-image">
                <img src="/Content/images/screenshots/tasks.jpg" alt="Manage your Project Tasks with Construction Estimating Software" />
            </div>
        </div>
    </div>
</div>