@{
    ViewBag.Title = "Extensive Tasks - Estimating Software for builders, developers and home enthusiastss";
    ViewBag.Keywords = "estimating, software, customise, projects, extensive, tasks, project, clients, requirements, tenders, sign-up, quotations, tasks, resources, buildmate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="intro">
    <div class="container">
        <h1>Extensive Tasks</h1>

        <p>Customise your projects using an extensive list of tasks</p>
    </div>
</div>

<div class="content">
    <div class="container">
        @Html.Partial("_Features")

        <div class="feature">
            <div class="feature-content">
                <h2 class="feature-content-title">Access over 200,000 tasks to create projects that match your exact customer requirements.</h2>

                <div class="feature-description">
                    <p>
                        It's really fast and easy to create your projects using Buildmate.
                        There are over 2,000,000 tasks you can use, so rest assured that you’ll have everything you need to
                        customise each Project to your clients exact requirements. You'll be creating tenders and sending out quotations in no time!
                    </p>

                    <p class="feature-signup">
                        <a href="https://buildmateapp.com/register/" class="btn btn-large primary">Try it FREE</a>
                    </p>
                </div>

            </div>

            <div class="feature-image">
                <img src="/Content/images/screenshots/tasks.jpg" alt="Manage your Project Tasks with Construction Estimating Software" />
            </div>
        </div>
    </div>
</div>