@{
    ViewBag.Title = "Features & Benefits - Estimating Software for builders, developers and home enthusiasts";
    ViewBag.Keywords = "estimating, software, features, benefits, tasks, create, projects, customer, requirements, tenders, quotations, template, statistics, cost, analysis, labour, material, plant, buildmate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="intro">
    <div class="container">
        <h1>Estimating Software Features</h1>
        
        <p>Review some of the main benefits of Buildmate.</p>
    </div>
</div>

<div class="container">

    <div class="feature-list feature-list-two-col clearfix">
        <div class="feature-item feature-icon feature-tick">
            <p>
                <a href="/features/extensive_tasks/">Extensive Tasks</a>
                Access over 200,000 tasks to create projects that match your exact customer requirements.
            </p>
        </div>

        <div class="feature-item feature-icon feature-templates">
            <p>
                <a href="/features/project_templates/">Project Templates</a>
                Create tenders using your existing projects as a template. We've already created some to get you started!
            </p>
        </div>

        <div class="feature-item feature-icon feature-chart">
            <p>
                <a href="/features/cost_analysis/">Cost Analysis</a>
                Keep track of the success rate of your projects with monthly and weekly statistics.
            </p>
        </div>

        <div class="feature-item feature-icon feature-paintbrush">
            <p>
                <a href="/features/pre_priced_resources/">Pre-priced Resources</a>
                Compare over 100,00 pre-priced Labour, Material and Plant resources or even add your own.
            </p>
        </div>

        <div class="feature-item feature-icon feature-people">
            <p>
                <a href="/features/customer_management/">Customer Management</a>
                Maintain upto date records for your customer contact information and projects.
            </p>
        </div>

        <div class="feature-item feature-icon feature-document">
            <p>
                <a href="/features/professional_documents/">Professional Documents</a>
                Create professional looking tenders and quotations that you'll be able to send straight to your customers.
            </p>
        </div>
    </div>
</div>