@{
    ViewBag.Title = "Features & Benefits - Estimating Software for builders, developers and home enthusiasts";
    ViewBag.Keywords = "estimating, software, features, benefits, tasks, create, projects, customer, requirements, tenders, quotations, template, statistics, cost, analysis, labour, material, plant, buildmate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero-container">
    <div class="container">
        <h1 class="hero-title">Estimating Software Features</h1>
        
        <p class="hero-message">
        We offer a wide range of feature to help you get your work done quickly and easily.
            @*We offer a wide set of features to help you and your team get work done. Share files online, locate popular documents with Quick Access, and do more, faster, with Yammer.
        Review some of the main benefits of Buildmate.*@
        </p>
    </div>
</div>

<div class="content">
    <div class="container">
        <div class="feature">
            <div class="feature-content">
                <h2 class="feature-content-title">Access over 200,000 tasks to create projects that match your exact customer requirements.</h2>

                <div class="feature-description">
                    <p>
                        It's really fast and easy to create your projects using Buildmate.
                        There are over 2,000,000 tasks you can use, so rest assured that you’ll have everything you need to
                        customise each Project to your clients exact requirements. You'll be creating tenders and sending out quotations in no time!
                    </p>
                </div>
            </div>

            <div class="feature-image">
                <img src="/Content/images/screenshots/tasks.jpg" alt="Manage your Project Tasks with Construction Estimating Software" />
            </div>
        </div>
        <!-- project templates -->
        <div class="feature">
            <div class="feature-content">
                <h2 class="feature-content-title">Create tenders using your existing projects as a template. We've already created some to get you started!</h2>

                <div class="feature-description">
                    <p>
                        Creating a project is even quicker when you can copy anny existing projects. As a bonus,
                        we've provided a number of common project templates so you can get up and running straight away.
                    </p>
                </div>
            </div>

            <div class="feature-image">
                <img src="/Content/images/screenshots/templates.jpg" alt="Why re-create when you can copy with our construction estimating software" />
            </div>
        </div>
        <!-- cost analysis -->
        <div class="feature">
            <div class="feature-content">
                <h2 class="feature-content-title">Keep track of the success rate of your projects with monthly and weekly statistics.</h2>

                <div class="feature-description">
                    <p>
                        With access to upto the minute statistical information on your projects, you'll have the information you need to keep
                        your pricing competitive. Track your rate of successes <strong id="mf25">and</strong> losses with monthly and weekly statistics.
                    </p>
                </div>
            </div>

            <div class="feature-image">
                <img src="/Content/images/screenshots/analysis.jpg" alt="Keep track of the success rate of your projects with monthly and weekly statistics." />
            </div>
        </div>

        <!-- pre-priced resources -->
        <div class="feature">
            <div class="feature-content">
                <h2 class="feature-content-title">Compare over 100,00 pre-priced Labour, Material and Plant resources or even add your own.</h2>

                <div class="feature-description">
                    <p>
                        With over 100,000 Labour, Material and Plant resources to choose from you'll be able to accurately calculate
                        the cost of your project, right down to the last nail! Did we mention we use well known Builders Merchants to
                        keep our resource prices accurate?
                    </p>
                </div>
            </div>

            <div class="feature-image">
                <img src="/Content/images/screenshots/resources.jpg" alt="Cost your projects with accuracy using our estimating software" />
            </div>
        </div>

        <!-- customer management -->
        <div class="feature">
            <div class="feature-content">
                <h2 class="feature-content-title">Maintain upto date records for your customer contact information and projects.</h2>

                <div class="feature-description">
                    <p>
                        Keep up to date contact information and manage payment terms for all of your customers.  With Buildmate you'll also be
                        able to conveniently review all your customers project history.
                    </p>
                </div>
            </div>

            <div class="feature-image">
                <img src="/Content/images/screenshots/customers.jpg" alt="Track your customers and their projects with construction estimating software" />
            </div>
        </div>

        <!-- documents -->
        <div class="feature">
            <div class="feature-content">
                <h2 class="feature-content-title">Create tenders using your existing projects as a template. We've already created some to get you started!</h2>

                <div class="feature-description">
                    <p>
                        We know how time consuming creating tenders and sending out quotations can be.
                        With Buildmate's built in reporting system you can quickly create professional looking documents
                        that you can email straight to your customers, or print them off to send by post.
                    </p>
                </div>
            </div>

            <div class="feature-image">
                <img src="/Content/images/screenshots/documents.jpg" alt="Create professional looking tenders and quotations" />
            </div>
        </div>
    </div>
</div>