@{
    ViewBag.Title = "Pre-priced Resources - Estimating Software for builders, developers and home enthusiasts";
    ViewBag.Keywords = "estimating, software, cost, projects, accuracy, labour, material, plant, resources, calculate, sign-up, cost, project, nail, builders, merchants, resources, prices, accurate, buildmate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="intro">
    <div class="container">
        <h1>Pre-priced Resources</h1>

        <p>Cost your projects with accuracy</p>
    </div>
</div>

<div class="content">
    <div class="container">
        @Html.Partial("_Features")

        <div class="feature-content">
            <img src="http://images.getbuildmate.com/feature2.jpg" alt="Cost your projects with accuracy using our estimating software" />

            <p class="featured">
                With over 100,000 Labour, Material and Plant resources to choose from you'll be able to accurately calculate
                the cost of your project, right down to the last nail! Did we mention we use well known Builders Merchants to
                keep our resource prices accurate?
            </p>

            <p class="centeralign">
                <a href="https://buildmateapp.com/register/" class="btn btn-large primary">Try it FREE</a>
            </p>
        </div>
    </div>
</div>