@{
    ViewBag.Title = "Pre-priced Resources - Price your projects accurately - Buildmate";
    ViewBag.Description = "Choose from over 100,000 resources to accurately calculate the cost of your Projects. Sign up for a FREE trial!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="intro">
    <div class="container">
        <h1>Pre-priced Resources</h1>

        <p>Price your projects accurately</p>
    </div>
</div>

<div class="content">
    <div class="container">
        <!-- pre-priced resources -->
        <div class="feature">
            <div class="feature-content">
                <h2 class="feature-content-title">Compare prices for thousands of Resources.</h2>

                <div class="feature-description">
                    <p>
                        Choosing from over 100,000 Labour, Material and Plant resources, you'll be able to accurately calculate
                        the cost of your Projects, right down to the last nail.
                    </p>

                    <p>
                        Not only that but if the prices don't work or your Supplier can get it cheaper, Buildmate lets you add your own prices.
                    </p>

                    <p class="feature-signup">
                        <a href="https://buildmateapp.com/register/" class="btn btn-large primary">Try it FREE</a>
                    </p>
                </div>
            </div>

            <div class="feature-image">
                <img src="/Content/images/screenshots/resources.jpg" alt="Cost your projects with accuracy using our estimating software" />
            </div>
        </div>
    </div>
</div>