@{
    ViewBag.Title = "Professional Documents - Estimating Software for builders, developers and home enthusiasts";
    ViewBag.Keywords = "estimating, software, professional, tenders, quotations, reporting, documents, customers, sign-up, buildmate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="intro">
    <div class="container">
        <h1>Professional Documents</h1>

        <p>Create professional looking tenders and quotations</p>
    </div>
</div>

<div class="content">
    <div class="container">

        @Html.Partial("_Features")

        <div class="feature-content">
            <img src="http://images.getbuildmate.com/feature8.jpg" alt="Create professional looking tenders and quotations">

            <p class="featured">
                We know how time consuming creating tenders and sending out quotations can be.
                With Buildmate's built in reporting system you can quickly create professional looking documents
                that you can email straight to your customers, or print them off to send by post.
            </p>

            <p class="centeralign">
                <a href="https://buildmateapp.com/register/" class="btn btn-large primary">Try it FREE</a>
            </p>
        </div>
    </div>
</div>