@{
    ViewBag.Title = "Professional Documents - Create professional looking tenders and quotations - Buildmate";
    ViewBag.Description = "Use Buildmate's online estimating software to create professional looking documents in seconds. Sign up for a FREE trial!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="intro">
    <div class="container">
        <h1>Professional Documents</h1>

        <p>Create professional looking tenders and quotations</p>
    </div>
</div>

<div class="content">
    <div class="container">
        <!-- documents -->
        <div class="feature">
            <div class="feature-content">
                <h2 class="feature-content-title">Create professional looking documents.</h2>

                <div class="feature-description">
                    <p>
                        We know how time consuming creating tenders and sending out quotations can be.
                        Using our Document creation tool you'll be able to upload your company logo and quickly create professional
                        looking documents that you can send straight to your customers.
                    </p>
                </div>
            </div>

            <div class="feature-image">
                <img src="/Content/images/screenshots/documents.jpg" alt="Create professional looking tenders and quotations" />
            </div>
        </div>
    </div>
</div>