@{
    ViewBag.Title = "Project Templates - Why re-create when you can copy? - Buildmate";
    ViewBag.Description = "Using Buildmate's online estimating software you can create projects quickly using existing templates. Sign up for a FREE trial!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="intro">
    <div class="container">
        <h1>Project Templates</h1>

        <p>Why re-create when you can copy?</p>
    </div>
</div>

<div class="content">
    <div class="container">
        <div class="feature">
            <div class="feature-content">
                <h2 class="feature-content-title">Building a Project using your own foundations.</h2>

                <div class="feature-description">
                    <p>
                        Using your existing Projects as a template, you can create new projects even more quickly. We've also provided a number of
                        standard project templates so you can get started as soon as you login.
                    </p>

                    <p class="feature-signup">
                        <a href="https://buildmateapp.com/register/" class="btn btn-large primary">Try it FREE</a>
                    </p>
                </div>
            </div>

            <div class="feature-image">
                <img src="/Content/images/screenshots/templates.jpg" alt="Why re-create when you can copy with our construction estimating software" />
            </div>
        </div>
    </div>
</div>