@{
    ViewBag.Title = "An unexpected error occurred - Buildmate";
    ViewBag.Description = "There was an unexpected error. Please contact us.";

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="intro">
    <h1>Something went wrong</h1>

    <p>It looks like an unexpected error occurred</p>
</div>

<div class="content">
    <div class="container">
        <div style="margin: 20px 0;  line-height: 72px; font-size: 72px;">:(</div>

        @ViewBag.exception
        <p class="intro">The error has been logged and an Administrator has been notified that there was a problem.</p>

        <p>If you continue to receive this error, please @Html.ActionLink("contact us", "contact") and we'll help you if we can.</p>
    </div>
</div>