@{
    ViewBag.Title = "Page Not Found - Buildmate";
    ViewBag.Description = "We were unable to find the page that you were looking for.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="intro">
    <h1>Page not Found</h1>

    <p>Sorry, we couldn't find the page you were looking for.</p>
</div>

<div class="content">
    <div class="container">
        <div style="margin: 20px 0;  line-height: 72px; font-size: 72px;">:(</div>

        <p>Welcome to Buildmate, we couldn't find what you were looking for right now.</p>

        <ul>
            <li>Read more about the <a href="/features/">features and benefits of estimating sofware</a></li>
            <li>Get <a href="/knowledgebase/">help or support</a> by reading some of knowledge base articles.</li>
        </ul>

        <p>In the meantime, we've let an administrator know there's a problem, they'll take a look as soon as they can.</p>
    </div>
</div>
