<html>
	<head></head>
    
    <style>
    body {  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 12px; color: #2c2c2c; background: #efefea; }
    hr { border: 0; border-top: 1px solid #ccc; margin: 10px 0 20px; }
    </style>
	<body>


            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                <tr>
                    <td>

                        <table border="0" cellspacing="0" cellpadding="0" width="600" align="center">
                            <tr>
                                <td>
                                    <p style="font-size: 11px; text-align: center; margin: 0 0 20px">
                                        You received this email because you're registered at BuildMate.<br />
                                        If you're not interested anymore, please <a href="http://buildmateapp.com/settings.aspx">unsubscribe</a>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td><a href='http://www.getbuildmate.com/'><img src='http://images.getbuildmate.com/logo_s.png' width='227' height='53' border='0' /></a></td>
                
                            </tr>
                            <tr>
                                <td><hr /></td>
                            </tr>
                        </table>
            
                        <table border="0" cellspacing="0" cellpadding="0" width="600" align="center">
                            <tr>
                                <td valign="top" style="font-size: 14px">
		                            @RenderBody()
                                </td>
                            </tr>
                        </table>

                        <table border="0" cellspacing="0" cellpadding="0" width="600" align="center">
                            <tr>
                                <td><hr style="margin: 20px 0 10px" /></td>
                            </tr>
                            <tr>
                                <td>
                                    <p style="font-size: 11px; color: #666; margin: 0 0 40px">
                                        &copy; 2012 BuildMate &bull;
                                        <a href="http://www.getbuildmate.com/contact/">Contact</a> &bull;
                                        <a href="http://www.getbuildmate.com/privacy/">Privacy</a> &bull;
                                        <a href="http://www.getbuildmate.com/terms/">Terms</a>
                                    </p>
                                </td>
                            </tr>
                        </table>
            
                    </td>
                </tr>
            </table>
	</body>
</html>