<html>
	<head></head>
    
    <style>
        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 12px;
            color: #2c2c2c;
            background: #efefea;
        }
    </style>
<body>

    <table border="0" cellspacing="0" cellpadding="0" width="100%" style="background:#efefea">
        <tr>
            <td>
                <table border="0" cellspacing="0" cellpadding="5" width="600" align="center">
                    <tr>
                        <td style="padding-top: 15px; padding-bottom: 10px;text-indent:10px;"><a href='http://www.getbuildmate.com/'><img src='https://buildmateapp.com/images/logo_black.png' width='121' height='26' border='0' /></a></td>
                    </tr>
                </table>


                <center style="width: 100%">
                    <table style="padding: 20px;background: #fff;border:1px solid #ddd">
                        <tr>
                            <td>
                                <table border="0" cellspacing="0" cellpadding="0" width="600" align="center">
                                    <tr>
                                        <td valign="top" style="font-size: 14px">
                                            @RenderBody()
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </center>

                <center style="width: 100%; background: #dddddd; margin-top: 20px">
                    <table style="border-spacing: 0;border-collapse: collapse;padding-top: 0;padding-bottom: 0;padding-right: 0;padding-left: 0;vertical-align: top;text-align: left;margin-top: 0;margin-bottom: 0;margin-right: auto;margin-left: auto;width: 580px;">
                        <tr>
                            <td style="padding-top:15px;padding-bottom:15px;padding-right:0;padding-left:0">
                                <p style="font-size: 12px;color: #777;margin-top:5px;margin-bottom:5px;padding-top: 0;padding-bottom: 0;padding-right: 0;padding-left: 0;word-break: break-word;border-collapse: collapse!important;vertical-align: top;text-align:left;">
                                    <strong>Buildmate Software Ltd</strong> Exchange Building, 66 Church Street, Hartlepool, TS24 7DN
                                </p>

                                <p style="font-size: 12px;color: #777;margin-top:5px;margin-bottom:5px;padding-top: 0;padding-bottom: 0;padding-right: 0;padding-left: 0;word-break: break-word;border-collapse: collapse!important;vertical-align: top;text-align:left;">
                                    &copy; 2014 Buildmate Software Ltd &bull;
                                    <a href="http://www.getbuildmate.com/contact/" style="color:#21759b;text-decoration:none!important;">Contact</a> &bull;
                                    <a href="http://www.getbuildate.com/privacy/" style="color:#21759b;text-decoration:none!important;">Privacy</a><br />
                                </p>

                                <p style="font-size: 11px;color: #777;margin-top:5px;margin-bottom:5px;padding-top:0;padding-bottom:0;padding-right: 0;padding-left: 0;word-break: break-word;border-collapse: collapse!important;vertical-align: top;text-align:left;">
                                    By using Buildmate you agree to the <a href="http://www.getbuildmate.com/terms/" style="color:#21759b;text-decoration:none!important;">terms and conditions</a> that govern it's use.
                                </p>
                            </td>
                        </tr>
                    </table>
                </center>
            </td>
        </tr>
    </table>
</body>
</html>