@{
    Layout = "~/Views/UserMailer/_Layout.cshtml";
}

<h2 style="font-size: 29px;line-height: 36px;font-weight: 400;color: #222222;display: block;font-family: 'Helvetica','Arial',sans-serif;padding-top: 0;padding-bottom: 0;padding-right: 0;padding-left: 0;margin-top: 0;margin-bottom: 0;margin-right: 0;margin-left: 0;text-align: left;word-break: normal;">Your new Buildmate account</h2>

<p style="color: #222222;display: block;font-family: 'Helvetica','Arial',sans-serif;font-weight: normal;padding-top: 0;padding-right: 0;padding-left: 0;text-align: left;padding-bottom: 0;font-size: 16px;line-height: 24px;">
    Thank you for signing up to Buildmate, we hope you benefit from using our system.
</p>

<p style="color: #222222;display: block;font-family: 'Helvetica','Arial',sans-serif;font-weight: normal;padding-top: 0;padding-right: 0;padding-left: 0;text-align: left;padding-bottom: 0;font-size: 16px;line-height: 24px;">

    Here are your login details:<br /><br />
    &nbsp;&bull;&nbsp; <strong>Email:</strong> @ViewBag.user_email<br />
    &nbsp;&bull;&nbsp; <strong>Password:</strong> @ViewBag.password<br />
</p>

<h3 style="font-size: 21px;line-height: 28px;font-weight: 400;color: #444444;display: block;font-family: 'Helvetica','Arial',sans-serif;padding-top: 0;padding-bottom: 0;padding-right: 0;padding-left: 0;margin-top: 0;margin-bottom: 0;margin-right: 0;margin-left: 0;text-align: left;word-break: normal;">Before you start..</h3>

<p style="color: #222222;display: block;font-family: 'Helvetica','Arial',sans-serif;margin-top: 10px;margin-bottom:10px;font-weight: normal;padding-top: 0;padding-right: 0;padding-left: 0;text-align: left;padding-bottom: 0;font-size: 16px;line-height: 24px;">
    We recommend you watch some of our instruction videos before you get started. Here's our first video, an introduction to Buildmate:
</p>

<p>
    <a href="http://www.youtube.com/watch?v=-CUMue4ZZdA" style="color:#21759b;text-decoration:none!important;border:3px solid #21759b;display:block;">
        <img src="http://images.getbuildmate.com/snap.jpg" alt="Buildmate Tour on YouTube" style="display:block;">
    </a>
</p>

<h3 style="font-size: 21px;line-height: 28px;font-weight: 400;color: #444444;display: block;font-family: 'Helvetica','Arial',sans-serif;padding-top: 0;padding-bottom: 0;padding-right: 0;padding-left: 0;margin-top: 0;margin-bottom: 0;margin-right: 0;margin-left: 0;text-align: left;word-break: normal;">Jumping straight in..</h3>

<p style="color: #222222;display: block;font-family: 'Helvetica','Arial',sans-serif;font-weight: normal;padding-top: 0;padding-right: 0;padding-left: 0;text-align: left;padding-bottom: 0;font-size: 16px;line-height: 24px;margin-top: 10px;margin-bottom:10px;">
    If you prefer to skip the videos and get started right away simply login to Buildmate using the login details above.
</p>

<p>
    <a href="http://buildmateapp.com/" style="color:#21759b;text-decoration:none!important;display:inline-block;font-size:14px;background:#2e7cd5;color:#fff;padding:21px 33px">Login</a>
</p>

<p style="color: #222222;display: block;font-family: 'Helvetica','Arial',sans-serif;font-weight: normal;padding-top: 0;padding-right: 0;padding-left: 0;text-align: left;padding-bottom: 0;font-size: 16px;line-height: 24px;">
    Thanks again,<br>
    The Buildmate Team
</p>