@{
    ViewBag.Title = "Find out the latest new features in Buildmate's online estimating software - Buildmate";
    ViewBag.Description = "Learn about the latest features and enhancements for Buildmate's online estimating software.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section BodyClass {@("whatsnew")}

<div class="hero-container">
    <div class="container">
        <h1 class="hero-title">What's new</h1>

        <p class="hero-message">Learn about the latest features and enhancements to Buildmate</p>
    </div>
</div>

<div class="content">
    <div class="container container-medium">

        <div class="new-feature">
            <img src="~/Content/images/whatsnew/tutorial.png" />

            <h2>We're happy to introduce a brand new tutorial system to Buildmate.</h2>

            <h3>Released January 2015</h3>

            <p>
                We’ve created an elegant way to introduce new Users to all of the key features of the Buildmate system. This step by step tutorial
                will guide you through each step of the process, from creating your first Customer through to managing your Suppliers and Resources.
            </p>

            <h2>Tracking your Progress</h2>

            <a href="~/Content/images/whatsnew/tutorial2.png"><img src="~/Content/images/whatsnew/tutorial2.png" /></a>

            <p>
                You can see how far through the Tutorial you've progressed by checking the completion bar indicated in the screenshot above.
            </p>

            <ol>
                <li>Flashing markers indicate the next step of the Tutorial.</li>
                <li>Help text throughout the Tutorial will guide you.</li>
                <li>Track your progress through the complete Tutorial</li>
            </ol>

            <h2>Completing the Tutorial</h2>

            <p>
                Each time you login, you'll be returned to your latest point in the Tutorial. Once you've completed all 10 steps the blue Tutorial bar will dissappear completely.
            </p>

            <p class="centeralign">Do you have any questions or feedback for us? <a class="btn primary" href="/contact/">Get in touch</a></p>
        </div>

    </div>
</div>