@model BuildmateWebsite.Controllers.KnowledgeBaseController.ArticleViewData
@using BuildmateWebsite.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="intro">
    <div class="container container-large">
        <p>Knowledge Base</p>

        <h1>How can we help?</h1>

        <div class="search-box">
            <form action="/knowledgebase/search/" method="post">
                <input type="text" name="searchTerm" size="50" class="search-box-input" placeholder="Search the Knowledge Base.." value="@ViewBag.SearchTerm" />
                <input type="submit" name="name" value="Search" class="btn" />
            </form>
        </div>
        <p>Couldn't find what you were looking for? @Html.ActionLink("Contact Us", "", "contact")</p>
    </div>
</div>

<div class="content">
    <div class="container container-large">
        <aside class="aside-panel">
            <section class="category-list">
                <h3>Categories</h3>

                @Html.Partial("_Categories", Model.KnowledgeCategories)
            </section>

            <section class="customer-service">
                <h3>Customer Service &amp; Support</h3>

                <p>
                    If you have questions about our system that we haven't answered here please get in touch
                    and we'll get back to you as soon as we can.
                </p>

                <p class="alignright">
                    <a class="btn primary" href="/contact">Contact Us</a>
                </p>
            </section>
        </aside>

        <section class="main-panel">
            @RenderBody()
        </section>
    </div>
</div>