@model BuildmateWebsite.Controllers.KnowledgeBaseController.ArticleViewData
@using BuildmateWebsite.Models
           
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="intro">
    <div class="container">
        <h1>Knowledge Base</h1>

        <p>Helpful articles and tips for getting started with Buildmate</p>
    </div>
</div>

<div class="container">
    <div class="features">
        <section>
            @Html.Partial("_Categories", Model.KnowledgeCategories)
        </section>

        <section class="customer-service">
            <h3>Customer Service &amp; Support</h3>

            <p>
                If you have questions about our system that we haven't answered here please get in touch
                and we'll do our best to get back to you.
            </p>

            <p class="alignright">
                <a class="btn primary" href="mailto:support@buildmateapp.com">Email Support</a>
            </p>
        </section>
    </div>

    <div class="feature-content">
        <div class="search-box">
            <form action="/knowledgebase/search/" method="post">
                <input type="text" name="searchTerm" size="50" class="search-box-input" placeholder="Search the Knowledge Base.." />
            </form>
        </div>

        @RenderBody()

    </div>
</div>