@model BuildmateWebsite.Controllers.KnowledgeBaseController.ArticleViewData
@using BuildmateWebsite.Models

@{
    ViewBag.Title = @Model.CurrentCategory.Name + " - Buildmate Knowledge Base";
    ViewBag.Description = @Model.CurrentCategory.Keywords;
    Layout = "~/Views/Shared/KnowledgeBase.cshtml";
}

<h2>@Model.CurrentCategory.Name</h2>

<ul>
@foreach (var item in Model.ArticlesInCategory)
{
    <li>
        @Html.ActionLink(item.Title, "article", "KnowledgeBase", new { id = item.KnowledgeArticleId, Title = item.Title.ToSeoUrl() }, null)
    </li>
}
</ul>