@model BuildmateWebsite.Controllers.KnowledgeBaseController.ArticleViewData
@using BuildmateWebsite.Models

@{
    ViewBag.Title = "Buildmate Knowledge Base";
    ViewBag.Description = "How can we help? Find help and advice in our online estimating software knowledge base";
    Layout = "~/Views/Shared/KnowledgeBase.cshtml";
}
<h2>Recent Articles</h2>

<ul>
@foreach (var item in Model.Articles)
{
    <li>
        @Html.ActionLink(item.Title, "Article", "KnowledgeBase", new { id = item.KnowledgeArticleId, Title = item.Title.ToSeoUrl() }, null)
    </li>
}
</ul>