@model BuildmateWebsite.Controllers.KnowledgeBaseController.ArticleViewData
@using BuildmateWebsite.Models

@{
    ViewBag.Title = "Your Search Results - Buildmate Knowledge Base";
    ViewBag.Description = "Use Buildmate's Knowledge Base to search for help and advice using Buildmate's online estimating software";
    Layout = "~/Views/Shared/KnowledgeBase.cshtml";
}
<section class="main-panel">
    <h2>Search Results</h2>

    <p>
        <small>@Model.SearchArticles.Count results found for '@ViewBag.searchTerm'.</small>
    </p>

    <ul>
    @foreach (var item in Model.SearchArticles)
    {
        <li>
            @Html.ActionLink(item.Title, "article", "KnowledgeBase", new { id = item.KnowledgeArticleId, Title = item.Title.ToSeoUrl() }, null)
        </li>
    }
    </ul>
</section>