@model BuildmateWebsite.Controllers.BlogController.BlogViewData
@using BuildmateWebsite.Models

@{
    ViewBag.Title = "News and thoughts on construction and online estimating software from the folks at Buildmate";
    ViewBag.Description = "Buildmate is the first online estimating software designed to help you easily create and manage your building estimates.";
    Layout = "~/Views/Shared/Blog.cshtml";
}
    @foreach (var item in Model.RecentBlogArticles)
    {
        <article class="blog">
            <section class="post-header">
                <h2>@Html.ActionLink(item.Title, "Article", "blog", new { id = item.BlogId, Title = item.Title.ToSeoUrl() }, null)</h2>
    
                <div class="post-author">
                    <img src="/content/images/avatars/steve.jpg" />
                    Posted on <time>@item.DateCreated.ToString("dddd, dd MMMM, yyyy")</time><br />
                    by Steve Jenkins
                </div>
            </section>
    
            <section class="post-content">
                @Html.DisplayFor(model => item.Abstract)
                <p>
                    @Html.ActionLink("Continue Reading...", "Article", "blog", new { id = item.BlogId, Title = item.Title.ToSeoUrl() }, new { @class = "post-continue" })
                </p>
            </section>
        </article>
    }