@{
    ViewBag.Title = "About Buildmate";
    ViewBag.Description = "Company information about Builmdate, a team dedicated to developing the best estimate software available.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="intro">
    <div class="container">
        <h1>About Buildmate</h1>

        <p>We're a team dedicated to building the best estimating software available</p>
    </div>
</div>

<div class="container">
    <p class="lead">
        We believe software for builders should be easy to use, simple and fast - allowing you to save time, get more done and make more informed decisions about your business.
    </p>

    <p>
        Buildmate was founded in 2009, based out of a small home office in Hartlepool. Prior to developing Buildmate our founder spent over 20 years as
        a successful Builder and Quantity Surveyor working throughout the North East of England. As the building business grew more and more of his time was spent on
        estimating and generating quotes for clients.
    </p>

    <p>
        We searched for a quick and simple way to create estimates and keep pricing competitive. We needed a well designed tool that
        put the User first, emphasising simplicity and speed. We also wanted a service that embraced the latest technology trends. We couldn't find one...
    </p>

    <p>
        With no software to meet our needs we decided to make our own, pouring our time, energy and enthusiasm into building software that would save you hundreds of
        hours on estimating - which was how Buildmate was born.
    </p>
</div>
