@{
    ViewBag.Title = "About Buildmate";
    ViewBag.Description = "Company information about Builmdate, a team dedicated to developing the best estimate software available.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="intro">
    <div class="container">
        <h1>About Buildmate</h1>

        <p>We're a team dedicated to building the best estimating software available</p>
    </div>
</div>

<div class="container">

    <h2>Customer Service and Support</h2>

    <p>
        We're dedicated to making the lives of developers like you easier, faster and more creative than ever. We’re about enabling you
        to go way beyond applications and create engaging, transformative experiences.
    </p>

    <p>
        We don’t create products in a vacuum. We have an open door policy for every one of you in our one-million strong dev community
        across 94 countries. After all, you’re at the heart of everything we do. Your successes are our successes. We’re proud so many
        of you trust us, and we take that trust very seriously.
    </p>

    <p>
        We’re here to help you spark, explore and execute on the next big idea. When you choose Telerik, you’ll always be ready to hit
        the ground running when it’s time to build for evolving devices and ecosystems, or entire new categories that haven’t even beem
        invented yet. The future won’t wait. And neither will we.
    </p>
</div>
