@{
    ViewBag.Title = "About Buildmate Software Ltd - Buildmate";
    ViewBag.Description = "Company information about Builmdate, a team dedicated to developing the best online estimating software available.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="intro">
    <div class="container">
        <h1>About Buildmate</h1>

        <p>We're a team dedicated to building the best online estimating software available</p>
    </div>
</div>

<div class="content">
    <div class="container container-medium centeralign">
        <h2 class="lead">
            As builders ourselves, we expect software for builders to be easy to use, fast and informative.
        </h2>

        <p>
            Meeting these three key requirements means you can save time, get more done and make more informed decisions about your business.
        </p>

        <hr />

        <h2>Foundations</h2>

        <p>
            Buildmate was founded in 2009 out of a small home office in <a target="_blank" href="https://www.google.co.uk/maps/place/Hartlepool/">Hartlepool, UK</a>. 
        </p>

        <p>
            Prior to developing Buildmate our founder spent over 20 years as
            a successful Builder and Quantity Surveyor working throughout the North East of England. As the building business grew we spent countless hours
            estimating and generating quotes for customers.
        </p>

        <p>
            We searched for a quick and simple way to create estimates and keep pricing competitive. We needed a well designed tool that
            put the User first, emphasising simplicity and speed. We also wanted a service that embraced the latest technology trends. Unfortunately, we couldn't find one...
        </p>

        <p>
            With no software to meet our needs we decided to make our own, pouring our time, energy and enthusiasm into building software that could save you hundreds of
            hours on estimating.
        </p>

        <p>
            This is how Buildmate was born
        </p>
    </div>
</div>
