@{
    ViewBag.Title = "Contact Buildmate - Estimating Software for builders, developers and home enthusiasts";
    ViewBag.Keywords = "estimating, software, comments, questions, ideas, customer, service, support, buildmate, knowledge, base";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="intro">
    <div class="container">
        <h1>Contact Us</h1>

        <p>We'd love to hear your feedback about our estimating software.</p>
    </div>
</div>

<div class="container">
    <div class="row clearfix">
        <div class="span6">
            <p class="lead">We are here to answer any questions you may have about Buildmate. Get in touch with us and we'll respond as soon as we can.</p>

            <ul>
                <li>Access our <a href="/knowledgebase/">Knowledge Base</a></li>
                <li>or contact us via <a href="mailto:support@buildmateapp.com">support@buildmateapp.com</a></li>
            </ul>
            
            <h3>Buildmate Software Ltd</h3>

            <blockquote>
                Exchange Building,<br />
                66 Church Street,<br />
                Hartlepool,<br />
                TS24 7DN
            </blockquote>
            
            <strong>Company Registration N<sup>o</sup>:</strong> 06536041
        </div>
    
        <div class="span6">
            <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.uk/maps?q=TS24+7DN&amp;ie=UTF8&amp;hq=&amp;hnear=Hartlepool+TS24+7DN,+United+Kingdom&amp;gl=uk&amp;t=m&amp;ll=54.686931,-1.205063&amp;spn=0.017365,0.036478&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.co.uk/maps?q=TS24+7DN&amp;ie=UTF8&amp;hq=&amp;hnear=Hartlepool+TS24+7DN,+United+Kingdom&amp;gl=uk&amp;t=m&amp;ll=54.686931,-1.205063&amp;spn=0.017365,0.036478&amp;z=14&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
        </div>
    </div>
</div>