@{
    ViewBag.Title = "Contact Buildmate - Estimating Software for builders, developers and home enthusiasts";
    ViewBag.Keywords = "estimating, software, comments, questions, ideas, customer, service, support, buildmate, knowledge, base";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="intro">
    <div class="container">
        <h1>Contact Us</h1>

        <p>We'd love to hear your feedback about our estimating software.</p>
    </div>
</div>

<div class="container">

    <div class="row clearfix">
        <div class="span6">
            If you've got any comments, questions or ideas to improve Buildmate we'd love to hear from you!

            <h2>Customer Service and Support</h2>
        
            <p>Have a question about our system?</p>
        
            <blockquote>
                <ul>
                <li><a href="/knowledgebase/">Visit our Knowledge Base</a> </li>
                <li>or <a href="mailto:support@buildmateapp.com">Send us an email</a></li>
                </ul>
            </blockquote>
            
            <h2>Our address</h2>

            <blockquote>
                <strong>Buildmate Software Ltd</strong><br />
                Exchange Building,<br />
                66 Church Street,<br />
                Hartlepool,<br />
                TS24 7DN
            </blockquote>
            
            <h2>Company Registration N<sup>o</sup>:</h2>
            
            <blockquote>
                06536041
            </blockquote>

        </div>
    
        <div class="span6">

            <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.uk/maps?q=TS24+7DN&amp;ie=UTF8&amp;hq=&amp;hnear=Hartlepool+TS24+7DN,+United+Kingdom&amp;gl=uk&amp;t=m&amp;ll=54.686931,-1.205063&amp;spn=0.017365,0.036478&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.co.uk/maps?q=TS24+7DN&amp;ie=UTF8&amp;hq=&amp;hnear=Hartlepool+TS24+7DN,+United+Kingdom&amp;gl=uk&amp;t=m&amp;ll=54.686931,-1.205063&amp;spn=0.017365,0.036478&amp;z=14&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
        </div>
    </div>
</div>