@{
    ViewBag.Title = "Buildmate - the first internet based building, construction, specialist trade and services estimating application.";
    ViewBag.Keywords = "estimating, software, manage, estimates, online, tenders, labour, material, plant, construction, tradesmen, property, developers, builders, free, trial, customisable, projects, tasks, resources";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section BodyClass {@("home")}

<div class="headline">
    <div class="container">
        <h1>Manage your building estimates, easily</h1>

        <p>
            Buildmate is the first internet-based construction estimating application
            designed<br /> to help you easily create and manage your building estimates.
        </p>

        <a href="/features/" class="btn btn-large darker">View the Features</a>
        <a href="https://buildmateapp.com/register/" class="btn btn-large secondary">Try it Free</a>

        <img src="Content/images/laptop.png" alt="Alternate Text" />
    </div>
</div>
<div class="container">
 <div class="banner">
        
        <div class="feature-list">
            <h2>Why use our application to manage your estimates?</h2>

            <p>
               Review a list of the features and benefits of Buildmate below. When you're ready to continue just click Try it Free to begin your free trial.
            </p>

            <div class="feature-item feature-icon feature-tick">
                <p>
                    <a href="/features/extensive_tasks/">Customise your projects</a>
                    Access over 200,000 Tasks to create projects that match your exact customer requirements.
                </p>
            </div>

            <div class="feature-item feature-icon feature-templates">
                <p>
                    <a href="/features/project_templates/">Use existing templates</a>
                    Create tenders using your existing projects as a template. We've already created some to get you started!
                </p>
            </div>

            <div class="feature-item feature-icon feature-chart">
                <p>
                    <a href="/features/cost_analysis/">Optimise your pricing</a>
                    Keep track of the success rate of your projects with monthly and weekly statistics.
                </p>
            </div>

            <div class="feature-item feature-icon feature-paintbrush">
                <p>
                    <a href="/features/pre_priced_resources/">Ready to use resources</a>
                    Compare over 100,00 pre-priced Labour, Material and Plant resources or even add your own.
                </p>
            </div>

            <div class="feature-item feature-icon feature-people">
                <p>
                    <a href="/features/customer_management/">Manage your customers</a>
                    Maintain upto date records for your customer contact information and projects.
                </p>
            </div>

            <div class="feature-item feature-icon feature-document">
                <p>
                    <a href="/features/professional_documents/">Create professional documents</a>
                    Create professional looking tenders and quotations that you'll be able to send straight to your customers.
                </p>
            </div>
        </div>
    </div>
</div>