@{
    ViewBag.Title = "Online Estimating Software designed for builders, contractors and specialist trades - Buildmate";
    ViewBag.Description = "Buildmate is the first online estimating software designed to help you easily create and manage your building estimates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section BodyClass {@("home")}


<div class="hero-container">
    <div class="container">
        <h1 class="hero-title">Manage your building estimates, easily</h1>

        <p class="hero-message">
            Buildmate is the first online estimating software
            designed to help you easily create and manage your building estimates.
        </p>
            
        <a href="https://buildmateapp.com/register/" class="btn primary">Get Started - Try Buildmate for Free</a>
    </div>
</div>


<div class="content">
    <div class="container">
        <div class="feature-block">
            <h2 class="feature-title">Why use Buildmate to manage your estimates?</h2>

            <h3 class="feature-subtitle">
                Review a list of the features and benefits of Buildmate below. When you're ready to continue just click Try it Free to begin your free trial.
            </h3>
        </div>

        <div class="feature">
            <div class="feature-content">
                <h2 class="feature-content-title">Choose from thousands of Tasks using the built-in Task management system.</h2>

                <div class="feature-description">
                    <p>
                        With over 200,000 job tasks already built into Buildmate you rest assured you'll have everything you need to customise each Project to your customers exact requirements.
                        Using such a quick and easy process, you'll be creating your own tenders and sending out quotations in no time!
                    </p>
                </div>
            </div>

            <div class="feature-image">
                <div class="feature-image-content">
                    <img src="/Content/images/screenshots/tasks.jpg" alt="Manage your Project Tasks with Construction Estimating Software" />
                </div>
            </div>
        </div>

            <!-- project templates -->
            <div class="feature">
                <div class="feature-content">
                    <h2 class="feature-content-title">Building a Project using your own foundations.</h2>

                    <div class="feature-description">
                        <p>
                            Using your existing Projects as a template, you can create new projects even more quickly. We've also provided a number of
                            standard project templates so you can get started as soon as you login.
                        </p>
                    </div>
                </div>

                <div class="feature-image">
                    <div class="feature-image-content">
                        <img src="/Content/images/screenshots/templates.jpg" alt="Why re-create when you can copy with our construction estimating software" />
                    </div>
                </div>
            </div>

            <!-- cost analysis -->
            <div class="feature">
                <div class="feature-content">
                    <h2 class="feature-content-title">Keep track of your Successes. And your Failures.</h2>

                    <div class="feature-description">
                        <p>
                            Access monthly and weekly statistics for your Projects whether they were won or lost.
                            With upto the minute statistical information you'll have everything you need to keep your pricing competitive.
                        </p>
                    </div>
                </div>

                <div class="feature-image">
                    <div class="feature-image-content">
                        <img src="/Content/images/screenshots/analysis.jpg" alt="Keep track of the success rate of your projects with monthly and weekly statistics." />
                    </div>
                </div>
            </div>

            <!-- pre-priced resources -->
            <div class="feature">
                <div class="feature-content">
                    <h2 class="feature-content-title">Compare prices for thousands of Resources.</h2>

                    <div class="feature-description">
                        <p>
                            Choosing from over 100,000 Labour, Material and Plant resources, you'll be able to accurately calculate
                            the cost of your Projects, right down to the last nail.
                        </p>

                        <p>
                            Not only that but if the prices don't work or your Supplier can get it cheaper, Buildmate lets you add your own prices.
                        </p>
                    </div>
                </div>

                <div class="feature-image">
                    <div class="feature-image-content">
                        <img src="/Content/images/screenshots/resources.jpg" alt="Cost your projects with accuracy using our estimating software" />
                    </div>
                </div>
            </div>

            <!-- customer management -->
            <div class="feature">
                <div class="feature-content">
                    <h2 class="feature-content-title">Keep your Customer information at hand.</h2>

                    <div class="feature-description">
                        <p>
                            Using Buildmate's customer management system, you can easily keep upto date information and manage
                            payment terms for all of your Customers. You'll also be able to conveniently review your Customers project history.
                        </p>
                    </div>
                </div>

                <div class="feature-image">

                    <div class="feature-image-content">
                        <img src="/Content/images/screenshots/customers.jpg" alt="Track your customers and their projects with construction estimating software" />
                    </div>
                </div>
            </div>

            <!-- documents -->
            <div class="feature">
                <div class="feature-content">
                    <h2 class="feature-content-title">Create professional looking documents.</h2>

                    <div class="feature-description">
                        <p>
                            We know how time consuming creating tenders and sending out quotations can be.
                            Using our Document creation tool you'll be able to upload your company logo and quickly create professional
                            looking documents that you can send straight to your customers.
                        </p>
                    </div>
                </div>

                <div class="feature-image">
                    <div class="feature-image-content">
                        <img src="/Content/images/screenshots/documents.jpg" alt="Create professional looking tenders and quotations" />
                    </div>
                </div>
            </div>
        </div>
</div>