@{
    ViewBag.Title = "Online Estimating Software Pricing - Buildmate";
    ViewBag.Description = "Get Buildmate, online estimating software, designed to help you easily create and manage your building estimates. Sign up for a FREE trial!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section BodyClass {@("pricing")}
<div class="hero-container">
    <div class="container">
        <h1 class="hero-title">Up-front pricing with no hidden costs</h1>

        <p class="hero-message">Start with a free trial. Try it out and see for yourself. No credit card required.</p>
    </div>
</div>

<div class="content">
    <div class="container container-medium">
        <div class="pricing-models">
            <div class="pricing-model">
                <h2>Monthly Subscription</h2>

                <p><span class="pricing-price">£45.00</span> <sup>/month</sup></p>

                <a href="https://buildmateapp.com/register/" class="btn primary btn-large">Start Free Trial</a>

                <ul>
                    <li><span class="checked">&#10004;</span> Access over 200,000 tasks</li>
                    <li><span class="checked">&#10004;</span> Use existing Project Templates</li>
                    <li><span class="checked">&#10004;</span> Track project success rate</li>
                    <li><span class="checked">&#10004;</span> Compare over 100,000 resource prices</li>
                    <li><span class="checked">&#10004;</span> Manage your Customers</li>
                    <li><span class="checked">&#10004;</span> Create professional documents</li>
                    <li><span class="checked">&#10004;</span> Email Support</li>
                </ul>

            </div>

            <div class="pricing-model">
                <h2>Annual Subscription</h2>
                <p><span class="pricing-price">£365.00</span> <sup>/year</sup></p>

                <a href="https://buildmateapp.com/register/" class="btn primary btn-large">Start Free Trial</a>

                <ul>
                    <li><span class="checked">&#10004;</span> Access over 200,000 tasks</li>
                    <li><span class="checked">&#10004;</span> Use existing Project Templates</li>
                    <li><span class="checked">&#10004;</span> Track project success rate</li>
                    <li><span class="checked">&#10004;</span> Compare over 100,000 resource prices</li>
                    <li><span class="checked">&#10004;</span> Manage your Customers</li>
                    <li><span class="checked">&#10004;</span> Create professional documents</li>
                    <li><span class="checked">&#10004;</span> Email Support</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container container-medium">
        <div id="questions" class="feature-list feature-list-two-col clearfix">

            <h2 class="centeralign">Frequently Asked Questions</h2>

            <h3 class="centeralign">
                Get help. Find Answers.
            </h3>

            <div class="feature-item feature-icon feature-tick">
                <p>
                    <strong>Can I try it first before I subscribe?</strong>
                    Of course :)  All new accounts receive a fully-featured 30-day trial.
                    <em>You won’t even need a credit-card to get started!</em>
                </p>
            </div>

            <div class="feature-item feature-icon feature-clock">
                <p>
                    <strong>What happens after my trial?</strong>
                    After your 30-day trial you’ll need to create a subscription,
                    without it you’ll find some of our more important features are locked.
                </p>
            </div>

            <div class="feature-item feature-icon feature-present">
                <p>
                    <strong>Are there any discounts available?</strong>
                    Yes! We offer a great discount to customers who choose to subscribe annually.
                    It’s about 1/3 off the total annual bill when compared with the monthly payment plan.
                </p>
            </div>

            <div class="feature-item feature-icon feature-calendar">
                <p>
                    <strong>How does a subscription work?</strong>
                    Almost the same way as your mobile phone contract, simply create a subscription
                    and we’ll automatically take your payment depending on the plan you choose.
                </p>
            </div>
        </div>

        <div class="clear centeralign">
            <p>
                Want to ask us a question? <a href="/contact" class="btn primary">Get in touch!</a>
            </p>
        </div>
    </div>
</div>