@{
    ViewBag.Title = "Resources - Estimating Software for builders, developers and home enthusiasts";
    ViewBag.Keywords = "estimating, software, features, benefits, tasks, create, projects, customer, requirements, tenders, quotations, template, statistics, cost, analysis, labour, material, plant, buildmate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="intro">
    <div class="container">
        <h1>Resources</h1>

        <p>Information, User Guides and How to Videos</p>
    </div>
</div>

<div class="container">
</div>