@{
    ViewBag.Title = "Security - Estimating Software for builders, developers and home enthusiasts";
    ViewBag.Keywords = "estimating, software, features, benefits, tasks, create, projects, customer, requirements, tenders, quotations, template, statistics, cost, analysis, labour, material, plant, buildmate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="intro">
    <div class="container">
        <h1>Security</h1>

        <p>Safe, secure, reliable</p>
    </div>
</div>

<div class="container">
    <p class="lead">
        As standard all access to Buildmate is through an SSL-encryped connection, this is the same level of protection online banks use. Using
        this connection you never send or receive sensitive information in plain-text. Furthermore, industry-standard security is also provided at our datacenter facilities.
    </p>

    <hr />

    <div class="row clearfix">
        <div class="span9">
            <h2>Your privacy is protected</h2>

            <p>
                Buildmate is certified by Positive SSL, an independent security service which ensures your data is secure and your privacy is kept.
                For further information you can read our <a href="/privacy/">Privacy policy</a>.
            </p>
        </div>
        <div class="span3 alignright">
            <img src="/Content/images/ssl.png" />
        </div>
    </div>

    <hr class="clear" />

    <h2>Reliable data protection</h2>

    <p>
        On average Buildmate maintains a 99.9% uptime.

        Harvest achieves an average 99.9% uptime. Here are a few things we do to ensure we stay available for you whenever you need to access your information:
    </p>

    <ul>
        <li>Network connectivity is provided by multiple top carriers.</li>
        <li>All data is protected by hardware RAID over multiple data storage units.</li>
        <li>Critical servers have redundant power supplies.</li>
        <li>Critical components are deployed in (at least) redundant pairs.</li>
    </ul>

    <hr class="clear" />

    <h2>Data Retention Policy</h2>

    <p>
        We take our role as custodian of your data extremely seriously. We have multiple backup systems in place to protect your data, governed by the following policies:
    </p>

    <ul>
        <li>All backups are replicated to at least 2 physical datacenters.</li>
        <li>All backup systems are tested biweekly.</li>
        <li>Backups occur once daily at a minimum, with many occurring twice daily.</li>
        <li>Database backups are retained for 180 days.</li>
        <li>Application logs (for assisting Harvest Support cases) are retained for 90 days.</li>
    </ul>
</div>