@{
    ViewBag.Title = "General Terms & Conditions - Buildmate";
    ViewBag.Description = "Read the full terms and conditions of using Buildmate's online estimating software.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="intro">
    <h1>General Terms & Conditions</h1>
</div>
<div class="content">
    <div class="container container-medium">
        <p>Access to this Website is subject to the following terms and conditions:</p>

        <h3>License agreement for Pyramid Estimator (trading as Buildmate)</h3>

        <p>
            PLEASE READ THIS LICENSE AGREEMENT ("LICENSE") CAREFULLY BEFORE USING BUILD MATE.  SUBJECT TO THE TERMS AND CONDITIONS CONTAINED HEREIN, PYRAMID ESTIMATOR LTD GRANTS YOU A LIMITED, NON-EXCLUSIVE, NON-SUB LICENSABLE or TRANSFERABLE LICENSE IN ACCORDANCE WITH THESE TERMS AND CONDITIONS. BY USING PYRAMID ESTIMATOR, YOU ARE AGREEING TO BE BOUND BY THE TERMS OF THIS LICENSE.
        </p>

        <p>
            IF YOU DO NOT AGREE TO THE TERMS OF THIS LICENSE, YOU CANNOT ACCESS THE WEBSITE.  PLEASE TAKE THE TIME TO READ THROUGH THESE TERMS AND CONDITIONS BY CLICKING THE "I ACCEPT" BUTTON YOU ARE STATING THAT YOU AND ANY ADDITIONAL PROFILES LINKED TO YOUR ACCOUNT AGREE TO BE BOUND BY ALL OF THESE TERMS AND CONDITIONS (THE "AGREEMENT").  IF YOU DO NOT AGREE TO ALL OF THE TERMS, CLICK "DECLINE"
        </p>

        <p>In these terms and conditions:</p>

        <ul>
            <li>"we/us/our" means Pyramid Estimator Limited (Company registration number 06536041 whose registered office is at Exchange Building 66 Church Street Hartlepool TS24 7DN);</li>
            <li>"Website" means the Buildmate website, its pages and data contained therein;</li>
            <li>"you"/"your" means the user accessing the Website.</li>
            <li>"Section" means any section of this Agreement.</li>
            <li>"Licence" refers to non-exclusive licence</li>
            <li>"Account" refers to your billing account for the service provided by us . All profiles linked to a single account will be bound by the same agreement.</li>
            <li>"Profiles" means each and every user that is granted access to the account by the account administrator.</li>
            <li>"Account administrator" the person setting up the account "You".</li>
        </ul>

        <ol>
            <li>
                <p>
                    <strong>Restrictions</strong><br />
                    We and our Licensors retain all rights not expressly granted to you.  You may not modify, adapt, translate or create derivative works (new versions) of the Data.  No source code is provided under this Agreement.  You may not reverse engineer, disassemble, decompile, rent, lease, or encumber the Website or is pages and data contained therein, or re-create or discover the source code of the Website.  You may not embed or combine the Website within any other software product or device. The Website contains proprietary and confidential information of Pyramid Estimator Ltd and its Licensors, which you agree not to discover or reveal to others.  Any and all permitted access to the Website  that you make or distribute must be unmodified, must contain all of the original Website proprietary notices, and must include or be accompanied by this Agreement.  You may not separate the Website into component parts for sublicense, distribution or transfer to a third party.
                </p>
            </li>

            <li>
                <p>
                    <strong>Registration details</strong><br />
                    To access the Website you will need to register your details as part of the registration process. You agree that the information supplied with your registration will be truthful, accurate and complete. You also agree that you will not attempt to register in the name of any other individual nor will you adopt any username which we deem to be offensive. All personal information supplied by you as part of the registration process will be protected and used in accordance with the terms of our privacy policy.
                </p>
            </li>

            <li>
                <p>
                    <strong>Accessing the website</strong><br />
                    On accessing the website on this and on each subsequent occasion you will be deemed to have accepted all of the terms and conditions that apply to its use and to the facilities and services provided by it. We reserve the right to alter these terms and conditions at any time and it is your obligation to check if changes have been made. Your continued use of the Website following changes shall constitute acceptance of the new terms and conditions.
                </p>
            </li>

            <li>
                <p>
                    <strong>Non-exclusive license</strong><br />
                    You will need to subscribe to a non-exclusive licence in order to open an account to use the estimating facility provided by us.  To obtain a licence you will need to register on line and provide both your own personal details and that of your company or organisation. Following registration an account will be created, your account access details will be E-mailed to the email address you provided. Once you have successfully completed registration you will be granted a trial licence valid for 30 days (see trial Licence).
                </p>
                <p>
                    On subscribing to a trial or full access licence  we  hereby grant you a limited, revocable, non-exclusive, non-transferable licence (without the right to sub-licence) to use the  Website and the right to remotely access, view and download your projects and reports stored on the website is conditional upon your compliance with the terms and conditions of the agreement.
                </p>
                <p>
                    You may not provide access to the Website to other third parties other than by use of additional profiles added to your account. These additional profiles are added at your own risk and provide additional access to the functions of the website as defined by you. Additional profiles may be added as long as you do not directly or indirectly charge a service fee for granting such access and provided that you remain responsible for such third parties' and their use for any information or other material you provide.
                </p>
                <p>
                    The licence granted above and your right of use of the service will terminate immediately if you fail to comply with the terms of this agreement and provisions.
                </p>
                <p>
                    You will not nor will you allow any third party to;
                </p>

                <ul>
                    <li>Copy, modify, adapt, translate or otherwise create derivative works of the Website or the documentation.</li>
                    <li>Reverse engineer, de-compile, disassemble or otherwise attempt to discover the source code of the software, except to the extent applicable laws specifically prohibit such restriction.</li>
                    <li>Rent, sublicense, lease, sell, assign or otherwise transfer rights (or purport to do any of the same) in the processing software, the documentation or the service.</li>
                    <li>Remove any proprietary notices or labels on the software or which are otherwise placed by the service.</li>
                    <li>Or use, post, transmit or introduce any device, software or routine which interferes or attempts to interfere with the operation of the service or the software. You will use the Website, service and reports solely for your own internal use, and will not make the Website or service available for timesharing, application service provider or service bureau use. You will comply (and shall ensure that any third parties to whom you grant access to the reporting functions of the Website comply) with all applicable laws and regulations relating to the use of and access to the documentation, Website, service and reports.</li>
                </ul>
            </li>

            <li>
                <p>
                    <strong>Trial License</strong><br />
                    A trial non- exclusive licence (see non- exclusive licence at 4. above) is free and will grant you full access to the website, its pages and data for evaluation purposes and is valid for 30 days from the date of registration. Should you wish to continue to use all of the facilities after the 30 day trial period you will need to subscribe to a full licence (see full licence). If you do not wish to subscribe to a full non-exclusive licence your trial account will expire (see expired subscription
                </p>
            </li>

            <li>
                <p>
                    <strong>Full License</strong><br />
                    You will need to purchase (refer to website for details of costs) a full non- exclusive licence (see non-exclusive licence at 4. above) which will grant you full access to the website, its pages and data. The licence will permit you to set up one company or individual user account and is valid for the duration of your subscription.
                    Subscriptions available;
                </p>
                <ul>
                    <li>Monthly - 30 days from the date of subscription.</li>
                    <li>Annual   - 365 days from the date of subscription.</li>
                </ul>
                <p>
                    At the end of each subscription period you will need to purchase/renew your licence to prevent the account becoming expired (see expired subscription at 7. below).
                </p>
            </li>

            <li>
                <p>
                    <strong>Expired Subscription</strong><br />
                    If your subscription expires you will still be able to access the application and all of your data inclusive of the ability to continue to add customers and project details together with all of the available features and functions created up to the date that your subscription expired, with the exception that you will not be able to access or add any estimating data via "Add a task" to a build element.  You will not be able to access "Add task" to continue estimating until a full licence is purchased. There is no penalty incurred if you wish to re-subscribe to a full licence your subscription will begin from the date of renewal.
                </p>
            </li>

            <li>
                <p>
                    <strong>Consent to Use of Data</strong><br />
                    You agree that we and our affiliated partners can collect and use technical and related information, including but not limited to technical information about your projects, computer system and application software, and peripherals, that is gathered periodically to facilitate the provision of updates, product support and other services to you (if any) related to Pyramid Estimator and to verify compliance with the terms of this license. You also agree that we and our affiliated partners may use this information as long as it is in a form that does not personally identify you or other third parties, to improve our products or to provide services or technologies to you.
                </p>
            </li>

            <li>
                <p>
                    <strong>Content</strong><br />
                    In consideration of our agreeing to permit you to use  the Website for estimating purposes; you agree that you will only use, reproduce and print materials comprising the results of your projects for your own personal use. Under the terms of the licence you are granted access to use the data contained within the web pages for estimating purposes only. At no time is it implied that you own or have automatic access to the pages or data contained in the Website either compiled by us or you.
                </p>
                <p>
                    The pages and data contained in the Website may contain technical inaccuracies and typographical errors.  The information in these pages or data may be updated from time to time and may at times be out of date. We accept no responsibility for keeping the information in these pages or data up to date or liability for any failure to do so.
                </p>
                <p>
                    The information contained in the material in the Website is only for information purposes. The material on the Website does not constitute advice and you should not rely on any material on the Website to make (or refrain from making) any judgment or decision or take (or refrain from taking) any action.
                </p>
                <p>
                    The Website contains material submitted and created by other third parties. We exclude all liability for any illegality arising from or error, omission or inaccuracy in such material.
                </p>
                <p>
                    We give no warranties, conditions, guarantees or representations, express or implied, as to: - the completeness or accuracy of the advice and information contained on the Website or any website to which it is linked;
                </p>
                <p>
                    Certain Services may include materials from third parties or links to certain third party web sites. You acknowledge and agree that Pyramid Estimator Ltd is not responsible for examining or evaluating the content or accuracy of any such third-party material or web sites.  We do not warrant or endorse and does not assume and will not have any liability or responsibility for any third-party materials or web sites, or for any other materials, products, or services of third parties. Links to other web sites are provided solely as a convenience to you. You agree that you will not use any third-party materials in a manner that would infringe or violate the rights of any other party, and that we are  not in any way responsible for any such use by you.
                </p>
                <p>
                    You agree that the Website content, including but not limited to graphics, audio clips, and editorial content, contain proprietary information and material that is owned by  us, and is protected by applicable intellectual property and other laws, including but not limited to copyright, and that you will not use such proprietary information or materials in any way whatsoever except for  use permitted by these Terms and Conditions. No portion of the Website content may be reproduced in any form or by any means. You agree not to modify, rent, lease, loan, sell, distribute, or create derivative works based on the  Website content, in any manner, and you shall not exploit the  Website content in any unauthorized way whatsoever, including but not limited to, by trespass or burdening network capacity.
                </p>
                <p>
                    We reserve the right to change, suspend, remove, or disable access to any part of the Website content at any time without notice. In no event will we be liable for the removal of or disabling of access to any such Services.  We may also impose limits on the use of or access to certain part or parts of the Website content, in any case and without notice or liability.
                </p>
            </li>

            <li>
                <p>
                    <strong>Copyright and trade marks.</strong><br />
                    All rights, including copyright, in the content of these web pages and in the photographs and graphics displayed on the Website from time to time and all database rights in our database of tasks and resources, are owned or controlled for these purposes by us.
                </p>
                <p>
                    All trademarks, names, and logos are the proprietary marks of us or of our associated companies. Marks identifying third parties are owned or licensed by those third parties or their associated companies. Nothing in these terms and conditions in any way confers on you any license or right under any trademarks, names or logos.
                </p>
                <p>
                    Except as expressly permitted by these terms and conditions, you may not copy, reproduce, redistribute, download, republish, transmit, display, adapt, alter, create derivative works from or otherwise extract or re-utilise any of the contents of the Website. In particular, you must not cache any of the contents for access by third parties nor mirror or frame any of the content of the Website nor incorporate it into another website without our express written permission.
                </p>
            </li>

            <li>
                <p>
                    <strong>Liability</strong><br />
                    We will need to carry out routine maintenance and servicing of our servers and equipment from time to time. While we will seek to keep disruption to a minimum we cannot guarantee that the Website will be continuously available on-line. We therefore provide the Website on an "as is" and "as available" basis where practicable downtime will be restricted to off peak times.
                </p>
                <p>
                    We make no warranty that the Website (or websites which are linked to the Website) is or are free from computer viruses or any other malicious or impairing computer programs. It is your responsibility to ensure that you use appropriate virus checking software.
                </p>
                <p>
                    We are not liable for any failure to perform any of our obligations under these terms and conditions caused by matters beyond our reasonable control.
                </p>
                <p>
                    We shall not be liable for any damages, including without limitation, direct, indirect or consequential damages, howsoever arising out of your use of the Website or in respect of any of your actions or omissions taken in reliance on any of the advice or information contained on the Website or any website to which the Website is linked.
                </p>
            </li>

            <li>
                <p>
                    <strong>Links to non-Pyramid Estimator sites</strong><br />
                    The Website contains hypertext links to websites that are not operated by us or by our associated companies. We do not control such websites and are not responsible for their content. Our inclusion of hypertext links to such websites does not imply any endorsement of the material contained on the websites or of the owners.
                </p>
            </li>

            <li>
                <p>
                    <strong>Links to the Pyramid Estimator Website</strong><br />
                    You may establish a hypertext link to the home page only of the Website, but not otherwise, without our prior  written consent and provided there is thereby no implied endorsement or sponsorship of you, your company or your website by us.
                </p>
            </li>

            <li>
                <p>
                    <strong>General</strong><br />
                    We reserve the right to assign or subcontract any or all of our rights and obligations under these terms and conditions to a third party. If we exercise this right, we shall name the assignee or subcontractor on the Website and you will be entitled to terminate the account within 5 working days. You may not without our prior written consent assign or dispose of any rights or obligations arising under these terms and conditions.
                </p>
                <p>
                    These terms and conditions of access together with our privacy policy contain the entire agreement and understanding between the parties relating to the Website, and supersede any and all prior agreements, arrangements, statements and understandings, except for any fraud or fraudulent representation by either party. We exclude all representations and warranties relating to access to use of the Website, whether they are statutory or otherwise, as far as is possible by law.
                </p>
                <p>
                    If any of these terms and conditions shall be held to be invalid or unenforceable, it shall not affect the enforceability of any of the remaining provisions.
                </p>
                <p>
                    These terms and conditions shall be governed by and in accordance with English law and subject to the exclusive jurisdiction of the English Courts.
                </p>
            </li>

            <li>
                <p>
                    <strong>Termination</strong><br />
                    This License is effective for the duration of the subscription period or until terminated in accordance with these Terms and Conditions. Your rights under this license will terminate automatically without notice from us you fail to comply with any term(s) of this License. Upon the termination of this license, you forfeit the balance of your subscription and access to the Website and Pyramid Estimator.
                </p>
                <p>
                    Should you wish to terminate your licence you forfeit the balance of your subscription you will continue to be able to access Pyramid Estimator until your subscription expires.
                </p>
            </li>

            <li>
                <p>
                    <strong>Disclaimer of Warranties</strong><br />
                    You expressly acknowledge and agree that use of the Website is at your sole risk and that the entire risk as to satisfactory quality, performance, accuracy and effort is with you. Except for the limited warranty on media set forth above and to the maximum extent permitted by applicable law the Website is provided "as is", with all faults and without warranty of any kind, and we  hereby disclaim all warranties and conditions with respect to the  Website and  services, either express, implied or statutory, including, but not limited to, the implied warranties and/or conditions of merchantability, of satisfactory quality, of fitness for a particular purpose, of accuracy, and non-infringement of third party rights.
                </p>
                <p>
                    We  do not warrant against the functions contained in the facility or services will meet your requirements,  that the operation of the software or services will be uninterrupted or error-free, or that defects in the software or services will be corrected. No oral or written information or advice given by us or our authorized representative shall create a warranty. Should the software or services prove defective, you assume the entire cost of all necessary servicing, repair or correction. Some jurisdictions do not allow the exclusion of implied warranties or limitations on applicable statutory rights of a consumer, if and to the extent that such exclusion is prohibited.
                </p>
            </li>

            <li>
                <p>
                    <strong>Limitation of liability</strong><br />
                    To the extent not prohibited by law, in no event shall we  be liable for personal injury, or any incidental, special, indirect or consequential damages whatsoever, including, without limitation, damages for loss of profits, loss of data, business interruption or any other commercial damages or losses, arising out of or related to your use or inability to use the Pyramid Estimator facility or services, however caused, regardless of the theory of liability (contract, tort or otherwise) and even if  we have  been advised of the possibility of such damages. Some jurisdictions do not allow the limitation of liability for personal injury, or of incidental or consequential damages, and this limitation may not apply to you if and to the extent that such limitation is prohibited. In no event shall our total liability to you for all damages (other than as may be required by applicable law in cases involving personal injury) exceed the amount of £25.00. The foregoing limitations will apply even if the above stated remedy fails in its essential purpose.
                </p>
                <p>
                    If you do not agree to obey these terms and conditions you must stop using the Website immediately.  Your Subscription includes full unconditional acceptance of these terms and conditions.
                </p>
            </li>
        </ol>
    </div>
</div>