@{
    ViewBag.Title = "What's New - Estimating Software for builders, developers and home enthusiasts";
    ViewBag.Keywords = "estimating, software, features, benefits, tasks, create, projects, customer, requirements, tenders, quotations, template, statistics, cost, analysis, labour, material, plant, buildmate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section BodyClass {@("whatsnew")}

<div class="hero-container">
    <div class="container">
        <h1 class="hero-title">What's new</h1>

        <p class="hero-message">Learn about the latest features and enhancements to Buildmate</p>
    </div>
</div>

<div class="content">
    <div class="container container-medium">
        <h2>New Features</h2>

        <p>whats's new content</p>

        <p>whats's new content</p>

        <p>whats's new content</p>

        <p>whats's new content</p>

        <p>whats's new content</p>

        <p>whats's new content</p>

        <p>whats's new content</p>

        <p>whats's new content</p>

        <p>whats's new content</p>

        <p>whats's new content</p>
    </div>
</div>